<html lang="en">
  <head>
    <%- include ./partials/_head %>
  </head>
  <body class="text-center">
  <div class="bgimg">
    <div class="caption">
      <span class="words">Confirmation Status: </span>
      <br/>
      <br/>
      <br/>
      <br/>
      <span class="words">Please wait for SMS.</span>


  </div>
  </div>
</body>
</html>
