<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ./partials/_head %>
</head>

<body background ="http://static3.uk.businessinsider.com/image/598b2ef527fa6b53bc4639ce-1281/end-grain-cutting-board.jpg" class="backgroundImg">
  <header>
    <h2>MENU</h2>
  </header>

<div id="mainContainer">

<div class="form-group">
    <label for="exampleFormControlTextarea1">Example textarea</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    <button type="button" id="checkoutBtn" class="btn btn-warning">Checkout</button>
  </div>

  <div>

  <div id="menu-container">
      <div class="card-deck row">
          <div class="card">
            <img class="card-img-top" src="https://assets.marthastewart.com/styles/wmax-750/d28/perfect-roast-chicken-a97053/perfect-roast-chicken-a97053_horiz.jpg?itok=DBas50Si" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Chicken</h5>
              <p class="card-text">some juicy thing</p>
              <div class="form-group" data-id="1">
                <button type="submit" class="btn btn-primary">Add</button>
                <label for="exampleFormControlSelect1">Example select</label>
                <select class="form-control">
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                </select>
              </div>
            </div>
          </div>
          <div class="card">
            <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRuYogafpb8aJhl0x3KFeapPkq5LruedaqaE-Xw65qLd_w9C8sl" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Beef</h5>
              <p class="card-text">well done or blue rare?</p>
              <div class="form-group" data-id="2">
                <button type="submit" class="btn btn-primary">Add</button>
                <label for="exampleFormControlSelect1">Example select</label>
                <select class="form-control">
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                </select>
              </div>
            </div>
          </div>
          <div class="card">
            <img class="card-img-top" src="http://assets.kraftfoods.com/recipe_images/opendeploy/189505_640x428.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Fish</h5>
              <p class="card-text">some floppy thing</p>
              <div class="form-group" data-id="3">
                  <button type="submit" class="btn btn-primary" >Add</button>
                  <label for="exampleFormControlSelect1">Example select</label>
                  <select class="form-control">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                  </select>
              </div>
            </div>
          </div>
        </div>
  </div>
  </div>
</div>
</body>
</html>

<form action="/" method="POST" data-test="passed">
    <input type="text" name="in1" value="valuable" />
    <input type="submit" />
</form>
</body>