<!doctype html>
<html lang="en">
  <head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />


  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />


  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" ></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <script src="/scripts/menu.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
    
</head>
<body>
    <%- include ./partials/_head %>
<div id="mainContainer">

  <div class="checkOutContainer">
    <div id="menuItems">
     
    </div>
    <div id="totals">
      <div id="subTotal">
        <p>Subtotal:</p>
        <p id="subAmmount">$0.00</p>
      </div>
      <div id="tax">
        <p>Tax:</p>
        <p id="taxAmmount">$0.00</p>
      </div>
      <div id="totalPrice">
        <p>Total:</p>
        <p id="totalAmmount">$0.00</p>
      </div>
    </div>

    <button type="button" id="checkoutBtn" class="btn btn-warning">Checkout</button>
  </div>
    <div id="menu-container">
    </div>
</div>
</body>

</html>
