<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Orders page</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
    <script type="text/javascript" src="/scripts/order.js"></script>
  </head>

  <body>

        <!-- import header ejs  -->
  <div class="orders">
       <!-- order box  -->
      <section class="order_kitchen">

        <header>
          <div class="user_box">
            <span>Client: </span>
            <span class="user_name">user name</span>
          </div>
          <div class="phone_box">
            <span>Phone: </span>
            <span class="phone_number">555-5555</span>
          </div>
          <div class= "order_number_box">
            <span>Order # </span>
            <span class="order_number">23</span>
          </div>
        </header>

        <div class="container">
          <div class="items">
            <p>Items:</p>
            <ol>
              <!-- ajax will be needed here to dinamically populate the items list below:  -->
              <li class="item">Miso soup</li>
              <li class="item">edamames </li>
              <li class="item">beans </li>
            </ol>
          </div>

          <div class="actions">
            <div class="deletion_box">
              <button class="delete">DELETE</button>
            </div>
            <div class="timing">
              <form method="POST" action="/" class="submitEstimatedTime">
                Estimated time: <input type="text" name="estimatedTime" placeholder="ej.: 6:00">
                <input class="submit_button" type="submit" value="Submit">
              </form>
            </div>
          </div>
        </div>
        <footer>
          <span>Total Items: </span>
          <span class="items_total">3</span>
        </footer>
      </section>
  </div>
       <!-- end of order box -->

    </main>
  </body>
</html>


