<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ./partials/_head %>
    <script type="text/javascript" src="/scripts/orders.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js" integrity="sha256-CutOzxCRucUsn6C6TcEYsauvvYilEniTXldPa6/wu0k=" crossorigin="anonymous"></script>
  </head>
  
  

  <h1 class="title">Orders</h1>
  <body background ="http://static3.uk.businessinsider.com/image/598b2ef527fa6b53bc4639ce-1281/end-grain-cutting-board.jpg" class="backgroundImg"></body>

        <!-- import header ejs  -->
  <div class="orders">
       <!-- order box  -->
      <section class="order_kitchen">

        <header>
          <div class="user_box">
            <span>Client: </span>
            <span class="user_name">user name</span>
          </div>
          <div class="phone_box">
            <span>Phone: </span>
            <span class="phone_number">555-5555</span>
          </div>
          <div class= "order_number_box">
            <span>Order # </span>
            <span class="order_number">23</span>
          </div>
        </header>

        <div class="container">
          <div class="items">
            <p>Items:</p>
            <ol>
              <!-- ajax will be needed here to dinamically populate the items list below:  -->
              <li class="item">Miso soup</li>
              <li class="item">edamames </li>
              <li class="item">beans </li>
            </ol>
          </div>

          <div class="actions">
            <div class="deletion_box">
              <button class="delete" class="btn btn-danger">DELETE</button>
            </div>
            <div class="timing">
              <form method="POST" action="/confirmation/id" class="submitEstimatedTime">
                Estimated time: <input type="text" name="estimatedTime" placeholder="ej.: 6:00">
                <br/>
                <input class="submit_button" type="submit" value="Submit">
              </form>
            </div>
          </div>
        </div>
      </section>
  </div>
  </body>

<footer class="page-footer font-small teal pt-4">
    <div class="container-fluid text-center text-md-left">
      <div class="row">
        <div class="col-md-2 mt-md-0 mt-3">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2602.7465178428406!2d-123.11703208431068!3d49.281200179331194!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x5486717ecf53065d%3A0x5773ecde3efd958b!2s401+W+Georgia+St%2C+Vancouver%2C+BC+V6B+5A1!5e0!3m2!1sen!2sca!4v1537758399343" width="150" height="150" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
    
        <hr class="clearfix w-100 d-md-none pb-3">

        <div class="col-md-2 mb-md-0 mb-3">
            <h5 class="text-uppercase font-weight-bold">Protein Heaven</h5>
            <p>401 West Georgia St, Vancouver, BC</p>
        </div>
      </div>
    </div>
 
    <div class="footer-copyright text-center py-3">© 2018 Copyright</div>
  
  </footer>

</html>