<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Meta Information -->
    <title>Ordering List</title>

    <!-- External CSS -->
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />

    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300,300i,700,700i" rel="stylesheet">

    <!-- App CSS -->
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <!-- External JS -->
    <script type="text/javascript" src="/vendor/jquery-2.2.3.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.js" integrity="sha256-59IZ5dbLyByZgSsRE3Z0TjDuX7e1AiqW5bZ8Bg50dsU=" crossorigin="anonymous"></script>

    <!-- App JS -->
    <script type="text/javascript" src="/scripts/app.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.js"></script>

    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>

  </head>

  <body>
    <!-- Top nav bar (fixed) -->
    <nav id="nav-bar">

      <span class="header">Ordering List</span>

    </nav>

    <br/>
    <!-- Page-specific (main) content here -->
    <main class="container">
      <section class="order">
        <div class="orderid">Order #1</div>

        <div class="userinfo"> Name & Phone </div>

        <div class="itemcount"> Item Count </div>
      <div class="stack">
        <div class="esttime"> 10 mins </div>

        <div class="subtime"> 12:45 </div>
      </div>
      </section>
    </body>
    </main>
</html>
