<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Meta Information -->
    <title>Orders page</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/orders.js"></script>
    <script type="text/javascript" src="/vendor/moment.js"></script>



    <!--
    <script type="text/javascript" src="/vendor/jquery-2.2.3.min.js"></script>
    <script type="text/javascript" src="/vendor/moment.js"></script>

     App JS
    <script type="text/javascript" src="/scripts/app.js"></script>

     Char Counter JS
    <script type="text/javascript" src="/scripts/composer-char-counter.js"></script>
-->
  </head>

  <body>
    <h1>Orders list</h1>
        <!-- import header ejs  -->

  <div class="orders">
       <!-- orders boxes go here with ajax  -->

  </div>


  </body>
</html>
