#header {
  height:60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  // background-color: #000;

  h1{
    font-size: 2em;
    display:inline;
    margin: .35em 1em .35em 1em;
  }
  h2 {
    font-size: 1.5em;
    display:inline;

  }

  .sign-in{
    display:inline;
    border-radius: 5px;
    width: 5em;
    height: 2em;
    margin: 1em 1em;
  }
  #user{
    display:inline;
    margin: 1em 0;

  }
  #admin{
    display:inline;
    margin: 1em 1em;
  }
}






