#header {
  color:white;
  height:60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: black;
  opacity:0.65;


  h1{
    font-size: 2em;
    display:inline;
    margin: .35em 1em .35em 1em;
    color:white;
  }
  h2 {
    font-size: 1.5em;
    display:inline;
    color:white;

  }

  .sign-in{
    display:inline;
    border-radius: 5px;
    width: 5em;
    height: 2em;
    margin: 1em 1em;
  }

  #admin{
    display:inline;
    margin: 1em 1em;
    background-color:saddlebrown;
  }
}






