body {
  width: 100%;

  .col-6 {
  border: 1px solid black
  }
.col {
  border: 1px solid black
  }
  #mainContainer {
    background:burlywood;
    height: 100vh;
    width: 100%;
    display:flex;
    .checkOutContainer {
      display:inline-block;
      width:30%;
      height: 95%;
      background-color:white;
      margin:10px;
      div {
        height: 75%;
        padding: 1em;
        background-color: white;
        .itemRow {
          display:flex;
          width:100%;
          height:2.5em;
          padding:.1em;
          justify-content: space-between;


          #name1 {
            display:inline;
            font-size:20px
          }
          #quantity1 {

          }
          #price1{

          }
          // button {
          //   width: 2em;
          //   height: 2em;
          //   float:right; /* change to not float */
          // }
        }
      }
      #totals {
        height:15%;
        padding: .25em;
        display: flex;
        flex-direction: column;
        #subTotal {
          display: flex;
          justify-content:space-between;
          padding: .25em;
          p {

          }
          #subAmmount {

          }
        }
        #tax {
          display: flex;
          justify-content:space-between;
          padding: .25em;
          p {

          }
          #taxAmmount {

          }
        }
        #totalPrice {
          display: flex;
          justify-content:space-between;
          padding: .25em;

          p{
            display:inline;
          }
          #totalAmmount {

          }
        }
      }





      }
      button {
        background-color: black;
        opacity:0.65;
        height: 10%;
        width:100%;
        color:white;
      }

    }
    #menu-container {
      display:flex;
      width: 70%;
      flex-direction: row;
      flex-wrap: wrap;
      .card {
        width: 32%;
        height:30em;
        margin-right: 0px;
        .card-img-top {
          height: 43%;
        }
        .card-body {
          .card-text {
            height:15%;
            margin-bottom: 3em;
          }
          .namePrice {
            display:flex;
            justify-content:space-between;
            height: 10%;
          }
          // .form-group {
          //   .submit {
          //     margin-bottom: 20px;
          //   }
          // }
        }
      }
    }
  }


/*     <div id="totals">
      <div id="subTotal">
        <p>Subtotal</p>
        <p id="subAmmount">$0.00</p>
      </div>
      <div id="tax">
        <p>Tax</p>
        <p id="taxAmmount">$0.00</p>
      </div>
    </div>
 */
