.header {
  font-size: x-large
}

.order {
  padding: 1em;
  box-sizing: border-box;
  border-radius: 0.5em;
  background-color: #f1f1f1;
  border: 2px solid darkgray;
  display: flex;
  justify-content: space-evenly;
}

.orderid{
  border: 1px solid black;
}

.order h2:after {
    content: ' ';
    display: block;
    border: 1px solid darkgrey;
}

.userinfo {
  padding: inherit;
  border: 1px solid black;
}

.itemcount {
  padding: inherit;
  border: 1px solid black;
}

.esttime {
  padding: 0.5em;
  border: 1px solid black;
}

.subtime {
  padding: 0.5em;
  border: 1px solid black;
}

.stack {
  display: flex;
  flex-direction: column;
}
